.so-widget-sow-accordion-default-5674beebb4fa .sow-accordion .sow-accordion-panel {
  margin-bottom: 10px;
}
.so-widget-sow-accordion-default-5674beebb4fa .sow-accordion .sow-accordion-panel .sow-accordion-panel-header {
  position: relative;
  cursor: pointer;
  padding: 15px 30px 15px 30px;
  background-color: #828282;
  color: #ffffff;
  text-align: left;
  
  
  
  
}
.so-widget-sow-accordion-default-5674beebb4fa .sow-accordion .sow-accordion-panel .sow-accordion-panel-header:hover {
  background-color: #8c8c8c;
  
  
}
.so-widget-sow-accordion-default-5674beebb4fa .sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-title {
  display: inline-block;
  width: calc(100% - 20px);
}
.so-widget-sow-accordion-default-5674beebb4fa .sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-open-close-button {
  float: right;
}
.so-widget-sow-accordion-default-5674beebb4fa .sow-accordion .sow-accordion-panel:not(.sow-accordion-panel-open) > .sow-accordion-panel-header .sow-accordion-close-button {
  display: none;
}
.so-widget-sow-accordion-default-5674beebb4fa .sow-accordion .sow-accordion-panel.sow-accordion-panel-open > .sow-accordion-panel-header .sow-accordion-open-button {
  display: none;
}
.so-widget-sow-accordion-default-5674beebb4fa .sow-accordion .sow-accordion-panel .sow-accordion-panel-content .sow-accordion-panel-border {
  background-color: #f9f9f9;
  padding: 15px 30px 15px 30px;
  
  
  
  overflow: auto;
}