.so-widget-sow-cta-default-481a3e5e36a0 .sow-cta-base {
  border-color: #e3e3e3;
  background-color: #f8f8f8;
}
.so-widget-sow-cta-default-481a3e5e36a0 .sow-cta-base .sow-cta-text {
  float: left;
}
.so-widget-sow-cta-default-481a3e5e36a0 .sow-cta-base .so-widget-sow-button {
  float: right;
  margin-left: 1em;
}